absl-py
alembic
astunparse
blis
cachetools
catalogue
certifi
chardet
click
cycler
cymem
fastapi
flatbuffers
gast
greenlet
idna
itsdangerous
Jinja2
joblib
Keras-Preprocessing
kiwisolver
Mako
Markdown
MarkupSafe
murmurhash
numpy
oauthlib
opt-einsum
pathy
Pillow
preshed
psycopg2-binary
py-openaq
pyasn1
pyasn1-modules
pyparsing
PySocks
python-dateutil
python-dotenv
python-editor
requests
requests-oauthlib
rsa
scikit-learn==0.22.3
scipy
six
smart-open
SQLAlchemy
srsly
termcolor
thinc
threadpoolctl
typer
typing-extensions
urllib3
uvicorn
wasabi
Werkzeug
wrapt
